.categories
{
    display: flex;
    overflow: scroll;
    margin: 0 auto;
    align-items: center;
}

.categories::-webkit-scrollbar
{
    display: none;
}

.menu_category
{
    margin: auto;
    justify-content: center;
    text-align: center;
}

.links
{
    text-decoration: none;
    color: #111;
    object-fit: none;
    margin: 0 10px;
    white-space: nowrap;
}