.categories
{
    display: flex;
    overflow: scroll;
    border-bottom: 1px solid black;
    padding-bottom: 20px;
    color: black;
}

.categories::-webkit-scrollbar
{
    display: none;
}

.menu_category
{
    margin: auto;
    white-space: nowrap;
}

.links
{
    text-decoration: none;
    color: #111;
    margin: 10px;
}

.links:active, .links:hover
{
    color: red;
}